html, body {
  overflow-x: hidden;
}

.title h1 {
  font-size: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Times';
  color: #ffffff;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #121212;
  position: relative;
  overflow-x: hidden;
  background-color: #010b13;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

header {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 1.0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
}

.logo-container {
  position: absolute;
  top: 20px;
  left: 20px;
  width: auto;
  height: auto;
  max-width: 100%;
  border-radius: 15px;
  overflow: hidden;
  z-index: 2;
}

.logo-container img {
  margin-left: 20;
  margin-top: 20;
  width: 100%;
  height: auto;
  object-fit: contain;
}

nav {
  backdrop-filter: blur(10px);
  padding: 20px 30px;
  border-radius: 25px;
  width: 20%;
  margin: 10px auto 0;
  position: sticky;
  top: 10px;
  z-index: 2;
  max-width: 100%;
  box-sizing: border-box;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  text-shadow: 2px 2px 3px black;
  text-decoration: none;
  color: #ffffff;
  padding: 10px 15px;
  display: block;
  font-size: 20px;
  font-weight: bolder;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  flex: 1;
  text-align: center;
}

nav ul li a:hover {
  background: rgb(237, 237, 237, 0.5);
  transform: scale(1.1);
}


.title {
  margin-top: 30px;
  background-color: #333333;
  justify-content: center;
  text-align: center;
  width: 100%;
  display: flex;
}


main {
  margin-top: 20px;
  margin-bottom: 80px;
  flex: 1;
  padding: 0 20px;
}


.legal {
  font-size: 12px;
  margin: 0;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleY(3) scaleX(2.25);
  transform-origin: bottom;
  box-sizing: border-box;
  display: block;
  pointer-events: none;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.socials {
  gap: 20px;
}

.socials a {
  font-size: 24px;
}

.links a {
  color: white;
  text-decoration: none;
}

.links a:hover {
  color: #FFF;
}

.legal {
  font-size: 12px;
  margin: 0;
  z-index: 21;
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 80%; /* Ajuste a altura conforme necessário */
  z-index: 1;
  margin-top: auto;
  padding: 140px 0; /* Espaçamento interno */
}

.mega-footer {
  margin-top: 24%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 30px;
  padding-bottom: 80px;
  padding-left: 60px;
  width: 95%; 
}

.footer-wrapper .footer-icon,
.footer-wrapper .footer-icon:visited {
display: inline-block;
background-color: #fff;
width: 60px;
height: 60px;
border: 0;
line-height: 60px;
margin: 0 10px;
text-align: center;
position: relative;
overflow: hidden;
border-radius: 28%;
box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
opacity: 0.99;
}
.footer-wrapper .footer-icon:before {
content: '';
width: 120%;
height: 120%;
position: absolute;
-webkit-transform: rotate(45deg);
        transform: rotate(45deg);
}

.footer-wrapper .footer-icon,
.footer-wrapper .footer-icon:before,
.footer-wrapper .footer-icon svg{
transition: all 0.35s;
transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
outline: 0;
}
.footer-wrapper .footer-icon:before {
top: 90%;
left: -110%;
}
.footer-wrapper .footer-icon:focus,
.footer-wrapper .footer-icon:hover{
  background-color: transparent;
}
.footer-wrapper .footer-icon svg{
-webkit-transform: scale(0.8);
        transform: scale(0.8);
height: 60px;
margin: auto;
font-size: 0;
text-align: center;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
}
.footer-wrapper .footer-icon.facebook:before {
background-color: #3b5998;
}


.footer-wrapper .footer-icon.twitter:before {
background-color: #3cf;
}
.footer-wrapper .footer-icon.google:before {
background-color: #dc4a38;
}
.footer-wrapper .footer-icon.linkedin:before{
background-color: #0072FF;
}
.footer-wrapper .footer-icon.youtube:before {
background-color: #E02F2F;
}
.footer-wrapper .footer-icon.youtube:hover svg g path,
.footer-wrapper .footer-icon.youtube:focus svg g path {
fill:#fff;
}
.footer-wrapper .footer-icon.youtube:hover svg g polygon,
.footer-wrapper .footer-icon.youtube:focus svg g polygon {
fill:#E02F2F;
}

.footer-wrapper .footer-icon.instagram:before {
  background-color: #C21975;
}

.footer-icon.instagram:hover svg{
fill : #FFF;
}

.footer-wrapper .footer-icon:focus:before,
.footer-wrapper .footer-icon:hover:before {
top: -10%;
left: -10%;
}
.footer-wrapper .footer-icon:focus svg,
.footer-wrapper .footer-icon:hover svg 
{
fill:#fff;
color: #fff;
-webkit-transform: scale(1);
transform: scale(1);
}

/* Estilos do Swiper */
.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 100%;
}

.swiper-wrapper {
  display: flex;
  flex-wrap: wrap;
  /* Garante que os slides sejam empilhados conforme necessário */
  justify-content: center;
  gap: 15px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  width: calc(33.33% - 20px);
  transition: box-shadow 0.3s ease-in-out;
  max-width: 180px;
  border-radius: 10%;
  overflow: hidden;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.swiper-slide:hover {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
}

@media (width > 420px) {
  section {
    align-items: center;
    padding-left: 0;
    gap: 20px;
  
  }

  .links {
    gap: 20px;
    z-index: 20;
  }
}

@media screen and (max-width: 480px) {
  .swiper-container {
    padding: 0 10px;
    /* Ajusta o padding para dispositivos menores */
  }

  .logo-container img {
    width: 80px;
    height: 80px;
  }
}

@media screen and (max-width: 768px) {
  .swiper-slide {
    width: 48%;
    /* 2 cards por linha em telas menores */
  }
  .logo-container img {
    width: 80px;
    height: 80px;
  }
}

@media screen and (max-width: 480px) {
  .swiper-slide {
    width: 100%;
    /* 1 card por linha em telas muito pequenas */
    margin-right: 0;
    margin-bottom: 15px;
  }
  .logo-container img {
    width: 80px;
    height: 80px;
  }
  nav ul li {
    flex-basis: 100%; /* Itens empilhados em telas pequenas */
  }
}

@media (max-width: 768px) {
  .swiper-slide {
    height: 300px;
    /* Ajuste a altura para dispositivos menores */
  }
  .logo-container img {
    width: 80px;
    height: 80px;
  }
  .title {
    margin-top: 50px;
  }
  nav ul li {
    flex-basis: 100%; /* Itens empilhados em telas pequenas */
  }
}

@media (max-width: 1350px) {
  nav {
    width: 20%;
  }

  .logo-container img {
    width: 300px;
    height: 150px;
  }
  .title {
    margin-top: 180px;
  }
}

@media (max-width: 1024px) {
  nav {
    position: fixed;
    right: 24%;
    top: 10%;
    transform: translateY(-50%);
    width: auto;
    margin-bottom: 120px;
  }
  .logo-container img {
    width: 300px;
    height: 150px;
}

}

@media (max-width: 875px) {
  nav {
      position: fixed;
      right: 16%;
      top: 10%;
      transform: translateY(-50%);
      width: auto;
      margin-bottom: 120px;
    }
    .logo-container img {
      width: 300px;
      height: 150px;
  }
  }

@media (max-width: 768px) {
  nav {
    position: fixed;
    right: 13%;
    top: 10%;
    transform: translateY(-50%);
    width: auto;
    margin-bottom: 120px;
  }

nav ul li a {
    font-size: 16px;
}

.logo-container img {
  width: 275px;
  height: 150px;
}

}

@media (max-width: 675px) {
  nav {
    position: fixed;
    right: 5%;
    top: 10%;
    transform: translateY(-50%);
    width: auto;
    margin-bottom: 120px;
  }

  nav ul li a {
    font-size: 14px;
}

.logo-container img{
  width: 240px;
  height: 150px;
}

}

@media (max-width: 550px){
  nav {
    position: fixed;
    right: 5%;
    top: 10%;
    transform: translateY(-50%);
    width: auto;
    margin-bottom: 120px;
  }

  nav ul li a {
    font-size: 10px;
}
.logo-container img{
  width: 240px;
  height: 150px;
}
  
}
@media (max-width:635px){
  footer {
    position: relative;
    margin-top: 180px;
    width: 700px;
}

}

@media (max-width: 500px){
  nav {
    position: fixed;
    right: 3%;
    top: 10%;
    transform: translateY(-50%);
    width: auto;
    margin-bottom: 120px;
  }

  nav ul li a {
    font-size: 10px;
}
    .logo-container img{
        width: 190px;
        height: 150px;
    }
}

@media (max-width: 450px) {
  nav {
    width: 20%;
  }

  nav {
    position: fixed;
    right: 2%;
    top: 5%;
    transform: translateY(-50%);
    width: auto;
    margin-bottom: 120px;
  }

  nav ul li a {
    font-size: 6px;
}

.logo-container img{
  width: 170px;
  height: 150px;
}

.links{
  margin-left: 75px;
}

.legal{
margin-left: 65px;
}

.links li {
  margin-right: 20px;
}
}

@media (max-width: 768px), (max-width: 675px), (max-width: 635px), (max-width: 550px), (max-width: 500px), (max-width: 450px), (max-width: 350px), (max-width: 200px) {
  nav {
    display: none;
  }
  .swiper-slide {
    width: calc(50%-20px);
    max-width: 150px;
  }
}